<div class="forgot-password"
     fxLayout="row"
     fxLayoutAlign="center center">
    <div class="session-card">
        <div class="header"
             fxLayout="column"
             fxLayoutAlign="center center">
            <img src="assets/img/icon.png">
        </div>
        <div class="content"
             fxLayout="column"
             fxLayoutGap="24px">
            <mat-form-field fxFlex="grow">
                <mat-placeholder>E-Mail</mat-placeholder>
                <input matInput
                       required
                       [formControl]="email">
                <mat-hint>Enter your mail to recover your password.</mat-hint>
                <mat-error *ngIf="email.hasError('required')">We can't recover your password, without your email.
                </mat-error>
            </mat-form-field>
            <button type="submit"
                    color="primary"
                    mat-raised-button
                    [disabled]="email.invalid"
                    (click)="send()">
                RECOVER PASSWORD
            </button>
            <a class="link"
               [routerLink]="['/login']">Back to login</a>
        </div>
    </div>
</div>
