<vr-loading-indicator></vr-loading-indicator>

<mat-sidenav-container class="admin-container">

  <mat-sidenav class="quickpanel" [opened]="quickpanelOpen" align="end" mode="over" #quickpanel>

    <vr-quickpanel></vr-quickpanel>

  </mat-sidenav>

  <mat-sidenav class="sidenav" [opened]="sidenavOpen" align="start" [mode]="sidenavMode" msIconSidenav #sidenav>

    <vr-sidenav></vr-sidenav>

  </mat-sidenav>

  <div class="content-container" fxLayout="column">
    <!-- TOOLBAR -->
    <vr-toolbar [quickpanel]="quickpanel" [sidenav]="sidenav"></vr-toolbar>
    <!-- END TOOLBAR -->

    <!-- CONTENT -->
    <div class="main-container" #scrollContainer>
      <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
    </div>
    <!-- END CONTENT -->

    <!-- FOOTER -->
    <div class="footer mat-elevation-z4" *ngIf="footerVisible">
      <div class="rainbow" fxLayout="row">
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
          <div class="name" fxHide fxShow.gt-sm>Fury - Angular 5 Material Design Admin Template - Save 100s of hours
            designing and coding with this template
          </div>
          <a href="https://themeforest.net/item/fury-angular-2-material-design-admin-template/19325966?ref=visurel"
             class="action" mat-raised-button color="primary">
            <mat-icon class="icon">shopping_basket</mat-icon>
            GET IT HERE
          </a>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button type="button" mat-icon-button (click)="footerVisible = false">
            <mat-icon class="close">close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- END FOOTER -->
  </div>

</mat-sidenav-container>
